body {
  padding: 20px;
}

.photo {
  max-width:90%;
  max-height:90%;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* INPUT VIEW */

.container {
  text-align: center;
  width: 280px;
  margin-top: 20px;
  margin: auto;
}

/* VOTE VIEW */

.vote {
  text-align: center;
  width: 280px;
  margin-top: 20px;
  margin: auto;
}
  .vote td {
    font-size: .8em;
    text-align: left;
  }
  
  td.voteButtons {
    text-align: center;
  }

  .voteButton {
    width: 20px;
    height: 20px;
    padding: 12px;
    font-size: 1em;
    margin: 7px;
  }

  i.voteButton.disabled {
    background-color: #99D1E3 !important; 
  }

  i.ownCaption {
    background-color: #cccccc !important;
  }

   

/* RESULTS VIEW */
.results {
  text-align: center;
  margin-top: 20px;
  width: 280px;
  margin: auto;
}

  .results .winner {
    padding: 10px;
    background-color: #E3F2FD;
    border: 1px solid #BBDEFB;
    border-radius: 5px;
    margin: 0 0 10px 0;
  }

  .winner h6 {
    font-size: .9em;
    font-weight: bold;
  }

  .winner p {
    margin-top: 10px;
  }

  .runnersUp {
    padding-top: 12px;
  }

    .runnersUp h3 {
      margin-bottom: 10px;
    }

    .runnersUp table {
      width: 100%;
    }

    .runnersUp td {
      font-size: .8em;
    }

    td.caption {
      text-align: left;
    }

    .runnersUp .name {
      font-weight: bold;
    }

